@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 160.1 84.1% 39.4%;
    --accent-foreground: 161.4 93.5% 30.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 160.1 84.1% 39.4%;
    --accent-foreground: 161.4 93.5% 30.4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
@layer base {
  * {
    @apply border-border;
    scrollbar-width: auto;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 10px;
    @apply transition-all duration-1000 ease-in-out;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-neutral-800;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-300 dark:bg-zinc-600;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply rounded bg-gray-400 dark:bg-zinc-500;
  }

  .sidebar {
    @apply transition-all duration-1000 ease-in-out; /* Slow down the transition */
  }

  .sidebar::-webkit-scrollbar {
    width: 0;
    @apply transition-all duration-1000 ease-in-out; /* Slow down the transition */
  }

  .sidebar:hover::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-300 dark:bg-zinc-600;
  }

  .sidebar::-webkit-scrollbar-track {
    @apply bg-gray-100 dark:bg-neutral-800;
  }

  .bg-gradient {
    background-image: linear-gradient(to right, #cecece 1px, transparent 1px),
      linear-gradient(to bottom, #cecece 1px, transparent 1px);
    background-size: 15px 15px;
  }

  .bg-gradient-dark {
    background-image: linear-gradient(to right, #1f2937 1px, transparent 1px),
      linear-gradient(to bottom, #1f2937 1px, transparent 1px);
    background-size: 15px 15px;
  }

  .bg-repeat {
    background-position: 10;
    background-repeat: repeat;
  }
  .mask {
    mask-image: radial-gradient(circle 800px at center, white, transparent);
  }
  .gradient {
    background-image: radial-gradient(
      circle 300px at center,
      #34d399,
      hsla(0, 0%, 0%, 0)
    );
  }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .animate-shimmer {
    animation: shimmer 3s linear infinite;
  }

  .animate-perimeterShimmer {
    animation: perimeterShimmer 4s linear infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }

  @keyframes perimeterShimmer {
    0%,
    100% {
      clip-path: inset(0 0 calc(100% - 2px) 0);
    }
    25% {
      clip-path: inset(0 0 0 calc(100% - 2px));
    }
    50% {
      clip-path: inset(calc(100% - 2px) 0 0 0);
    }
    75% {
      clip-path: inset(0 calc(100% - 2px) 0 0);
    }
  }
}
